body {
	background-color: #000000;
}
.gridpool {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 50px 50px;
	background-color: #000000;
	position: absolute;
}
.banner {
	font-family: fantasy;
	font-size: 50px;
	text-align: center;
	padding: 15px;
	color: #ffffff;
	background-color: #000000;
	border: 5px solid #ff0000;
	grid-column:1/-1;
}
.infocard {
	height: 550px;
	width: 275px;
	padding: 15px;
	background-color: #000000;
	color: #ffffff;
	border: 5px solid #ff0000;
	font-family: fantasy;
	font-size: 16px;
	letter-spacing: 0.5px;
	text-align: center;
}
.trailerembed {
	height: 580px;
	width: 675px;
	background-color: #000000;
	border: 5px solid #ff0000;
	grid-column: 2/4;
}